.calculator {
    width: 60vw;
    
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
    border: 1px solid black;

}

#display {
    font-family: 'Dot Matrix', sans-serif;
    padding: 12px;
    text-align: right;
    font-size: 40px;
    overflow: hidden;
    height: 10vh;
    line-height: 10vh;
    border: 1px solid black;
    background-color: lightgreen;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

button {
    padding: 25.5px;
    font-size: 25px;
    cursor: pointer;
    background-color: lightslategrey;
    border: 1px solid black;
    color: white;
}

button:hover {
    background-color: azure;
    color: black;
    transition: 0.5s ease-in-out;



}

#equalbutton:hover {
    background-color: skyblue;
    transform-style: ease-in-out;

}

#delbutton:hover {
    background-color: lightcoral;
}

#clearbutton:hover {
    background-color: lightseagreen;
}